/*Reset*/
/* tipos googloe 
cuerpo font-family: 'Poiret One', cursive;
titulos font-family: 'Rampart One', cursive;
Paleta de colores
lila #6858a1 R:104 G:88 B 161
violeta #45358b R:69 G:53 B:139
violeta oscuro #2f2a83 R:47 G:53 B:131
rosa #e491bd R:228 G:145 b:189
rosa(lila) #eaa3c8 R:234 G:163 B:200
*/
/*------------------index----------------*/

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Rampart+One&display=swap');

.body-index {
    background-image: url("../asset/fondos/grillablanca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
}

.typerP{
    font-family: 'Poiret One', cursive;
    font-weight: 400;
}

.typerR{
    font-family: 'Poiret One', cursive;
    font-weight: 400;
}
.colorVioleta{
    color: #2f2a83;
}
.coloRosa{
    color: #e491bd;
}
.coloRosaL{
    color: #eaa3c8;
}
/*-----------------header----------------*/
#header{
    min-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e491bd;
    line-height: 45px;
    overflow: auto;
}

li {
    width: 150px;
    display: inline-block; 
    padding: 0 10px;
    text-align: center;
    /*float: left;*/
}

#header li a {
    text-decoration: none;
    font-size: 22px;
    width: 150px;
    display: block;
    color: #2f2a83;
}
#header .logo{
    margin-left: 20px;
}
#header .turnos a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 0.5em 0.75em;
    margin-right: 20px;
}
.header_index {
    background-color: #6958ac;

}

.linkNav {
    color: #6958ac;
}

.linkNavActivo {
    color: #4a19ab;
}

#textFormat {
    padding: 20px;
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-weight: 300;
    font-size: 20px;
}

h1 {
    color: #6958ac;
    font-family: 'Rampart One', cursive;
    font-weight: 400;
    font-size: 40px;
}

#textFormat h2 {

     padding: 20px;
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-weight: 400;
    font-size: 20px;
}

.logonav {
width: 30px;
height: fit-content;
}


.textIndexNormal {
     padding: 20px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #6958ac;
    letter-spacing: 1px;
    line-height: 140%;
}

img {
    width: 468px;
    height: 545px;
    position: center;
}

.imgIndex4 .imgindex3 .imgIndex2 {
    width: 468px;
    height: 545px;
}

.logonav {
    width: 10px;
    height: 10px;
}
/*footer*/
footer {
    background-color: rgba(rgb(223, 108, 233) 0.5);
    min-height: 100px;
    margin-top: 40px;
}


/*---------------Contacto--------------*/
.banner {
    min-height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: url(../asset/imagenes/banner-tinta.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h2, .banner p{
    color: #2f2a83;
}
#content {
    max-width: 1080px;
    margin: auto;
    padding-top: 60px;
}
.banner h3{
    font-size: 23px;
    margin-bottom: 0.5em;
}
.banner p{
    font-size: 20px;
    margin-bottom: 1em;
}
.banner div{
    padding: 20px;
}


/*---------------ilustraciones---------------*/





/*--------------Tatuajes--------------*/





/*--------------Sobre mi--------------*/






